html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-repeat: no-repeat; 
   margin: 0;
  padding: 0;
  background-image: url("scsu.svg");
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: URL('scsu.svg');
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0; 
}

form{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.home{
  position: fixed;
    width: 520px;
    height: 350px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 8px;
    margin-left: 700px;
    margin-top: 300px;
    box-shadow: #111 0px 5px 10px;
}
.register{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.logouttext{
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}

h3{
  text-align: center;
}