body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("scsu.svg");
  background-color: #73b2f1;
  }

form{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.home{
  position: fixed;
    width: 520px;
    height: 350px;
    padding: 10px;
    background-color: #fff;
    border: 5px solid gray;
    margin-left: 700px;
    margin-top: 300px;
    box-shadow: #111 0px 5px 10px;
}