body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #73b2f1;
  margin: 0;
  padding: 0;
   background-size: cover;
  background-image: URL('scsu_campus.jpeg');
  animation: fadein 2s;;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 2;}
}

h1{
  text-align: center;
  margin-top: -400px;
  margin-left: 150px;
}
form{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.login{
  position: fixed;
    width: 520px;
    height: 350px;
    padding: 10px;
    background-color: #fff;
    border: 5px solid gray;
    margin-left: 700px;
    margin-top: 650px;
    box-shadow: #111 0px 5px 10px;
}