h1{
    text-align: center;
    margin-left: 520px;
    
}
h3{
    text-align: center;
}

.createdgrouphead{
    position: fixed;
    width: 320px;
    height: 60px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 8px;
    margin-left: 140px;
    margin-top: 130px;
    box-shadow: #111 0px 5px 10px;
  animation: fadein 2s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 2;}
}

.createdgroup{
 position: fixed;
    width: 520px;
    height: 350px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 8px;
    margin-left: 40px;
    margin-top: 207px;
    box-shadow: #111 0px 5px 10px;
  animation: fadein 2s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 2;}
}
.creategrouptext{
  position: fixed;
    width: 520px;
    height: 350px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 205px;
    box-shadow: #111 0px 5px 10px;
  animation: fadein 2s;
}


.creategroupbutton{
    position: fixed;
    margin-top: 0px;
    margin-left: 180px;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 2;}
}
.joinedgrouphead{
    position: fixed;
    width: 320px;
    height: 60px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 8px;
    margin-left: 810px;
    margin-top: 295px;
    box-shadow: #111 0px 5px 10px;
  animation: fadein 2s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 2;}
}

.joinedgroup{
 position: fixed;
    width: 520px;
    height: 350px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 8px;
    margin-left: 800px;
    margin-top: 370px;
    box-shadow: #111 0px 5px 10px;
  animation: fadein 2s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 2;}
}
.joingrouptext{
    position: fixed;
    margin-left: 950px;
    margin-top: 250px;
}

.joingrouptextno{
    position: fixed;
    margin-left: 750px;
    margin-top: 450px;
}

.findgroupbutton{
    position: fixed;
    margin-left: 50px;
    margin-bottom: 100px;
}