<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
 </head>
 <body>
    <h1> SCSU Study Group Finder </h1>
    <div class="menu_bar">
        <a href="#"> Home </a>
        <a href="#"> Profile </a>
        <a href="#"> Listings </a>
        <a href="#"> Groups </a>
        <a href="#"> Messages </a>
        <a href="#"> Stats </a>
        <a href="#"> Settings </a>
    </div>

    <script>
        
    </script>
 </body>
</html> 