<!-- app/templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login_styles.css') }}">
</head>
<body class="dashboard">

  
    <h1>Welcome {{ current_user.name }}!</h1>
  </header>

  <nav class="navbar">
    
    <a href="{{ url_for('main.create_group') }}" class="btn">Create a Study Group</a>
    
    <a href="{{ url_for('auth.logout') }}" class="logout">Log Out</a>
  </nav>

  <header>

</body>
</html>
