<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='home_styles.css') }}">
 </head>
 <body>
    
    <h1> SCSU Study Group Finder </h1>
   
    <div class="menu">
        
        <a href="#"> Home </a>
        <a href="#"> Profile </a>
        <a href="#"> Listings </a>
        <a href="#"> Groups </a>
        <a href="#"> Messages </a>
        <a href="#"> Stats </a>
        <a href="#"> Settings </a>

    </div>
    <div class="picture">

    </div>
    <div class="curlistening">
        <h1> Current Listings </h1>
    </div>

    <div class="looking">
        <form action="/action_page.php">
            <input type="text" placeholder="Look for listings..." name="looking">
            
          </form>
    </div>

    <div class="scheduling">
        <h1> Schedule a Listing </h1>
    </div>
    <script>
 
   
  </script>
 </body>
</html>