<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Study Group Finder</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
</head>
<body>
  <div class="home"> <h3> Welcome to Study Group Finder!</h3>
<br><br>
  <div class="text-center">
  <a href="{{ url_for('auth.login') }}"><button type="button" class="btn btn-primary btn-lg mx-auto" width="10px">Log In</button></a></div>
    <div class="container mx-auto">
     
    </div>
    <br>
    <div class="text-center">
            <a href="{{ url_for('auth.register') }}">
            
                <button type="button" class="btn btn-primary">Register to get started</button></a>
    </div>
<div class="error">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          {% if category == 'success_logout' %}
          <div class="logouttext">
            <class="{{ category }}">{{ message }}
          </div>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
</body>
</html>
