body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #73b2f1;
    margin: 0;
    padding: 0;
     background-size: cover;
    background-image: URL('scsu.svg');
    animation: fadein 2s;
  }
  
  @keyframes fadein {
      from {opacity: 0;}
      to {opacity: 2;}
  }
  
  
  form{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }
  .register{
    position: fixed;
      width: 520px;
      height: 350px;
      padding: 10px;
      background-color: #fff;
      border: 1px solid gray;
      border-radius: 8px;
      margin-left: 700px;
      margin-top: 300px;
      box-shadow: #111 0px 5px 10px;
  }
  
  .form1 {
              margin: 10px 0;
              text-align: center;
          }
    
  .form2 {
              margin: 10px 0;
              text-align: center;
              margin-right: 70px;
          }
   
  .form3 {
              margin: 10px 0;
              text-align: center;
              margin-right: 25px;
          }
  
   .form4 {
              margin: 10px 0;
              text-align: center;
              margin-right: 88px;
          }       

        <div class="form2">
            {{ form.southern_email.label }}
            {{ form.southern_email() }}
        </div>

        <div class="form3">
            {{ form.password.label }}
            {{ form.password() }}
        </div>

        <div class="form4">
            {{ form.confirm_password.label }}
            {{ form.confirm_password() }}
        </div>

<br>
  <button type="submit" class="btn btn-primary"> Register </button>
    </form>
</div>
<div class="text-center">
      <a href="{{ url_for('main.index') }}"><button type="button" class="btn btn-primary">← Back to Main</button></a>
      </div>
 </body>
</html>
