<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create an Account | SCSU Study Group Finder</title>
          <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
 </head>
 <body>

   <link rel="stylesheet" href="{{ url_for('static', filename='register_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
   <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <!-- user is creating their study group finder account -->
   <div class="register justify-content-center">
    <div class="text-left">
        <a href="{{ url_for('main.index') }}"><button type="button" class="btn btn-primary">← Back to Main</button></a>
   <form method="POST" class="form-container">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}<br>
    {{ form.southern_email.label }} {{ form.southern_email() }} <br>
    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.confirm_password.label }} {{ form.confirm_password() }}<br>
  <button type="submit" class="btn btn-primary"> Register </button> 
</form>

</div>
 <script>
        function accountButton() {
            document.getElementById("accountButton").onclick = function() {
                window.location.href = "/register";
            };
        }
    </script>
 </body>
</html>
