<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create an Account </title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'register_styles.css') }}">
 </head>
 <body>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'login_styles.css') }}">
    <h1> SCSU Study Group Finder </h1>
    <!-- user is creating their study group finder account -->
    <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}<br>
    {{ form.southern_email.label }} {{ form.southern_email() }}
    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.confirm_password.label }} {{ form.confirm_password() }}
    {{ form.submit() }} <br> <br>
    </form>
    <br>
    <script>

    </script>
 </body>
</html>
